html,
body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-family: ubuntu, helvetica, arial, sans-serif;
    background:rgb(245,245,245)
}

body *{
    position:relative;
    outline:none;
}

input:not([type='checkbox']),
input:not([type='submit']),
input:not([type='range']),
input:not([type='button']){
    width:18em;
    max-width:calc(100% - .6em);
    padding:.3em;
    border-radius:.3em;
    border:none;
    box-shadow:inset 0 0 .3em rgba(0,0,0,.5);
    font-size:1.6em;
    outline: none;
    color:rgb(0,0,0);
}

button,
input[type='submit'],
input[type='button']{
    padding:.5em;
    border-radius:.3em;
    border:none;
    box-shadow:inset 0 0 .1em rgba(0,0,0,.2);
    font-size:1.2em;
    background:rgb(230,230,230);
    cursor:pointer;
}

button:disabled,
input:disabled{
    background:rgb(245,245,245);
    color:rgb(200,200,200);
    box-shadow:inset 0 0 .1em rgba(0,0,0,.5);
}

input:invalid{
    background:rgb(255,255,200);
}

input:valid{
    background:rgb(200,255,200);
}
