.awesome-print{
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
}

html.print,
html.print body.print{
    overflow:auto!important;
    background:rgb(255,255,255)!important;
    height:auto!important;
    word-break: break-all!important;
    word-wrap: break-word!important;
    color:black!important;
}
