awesome-sidebar {
    position: fixed;
    top: 3.25em;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 0.65em;
    height: 100%;
    border-radius: 0 0 0.313em 0;
    box-shadow: 0 0 0.25em rgba(0,0,0,.3);
    transition: width 1s;
}

awesome-sidebar .sidebar-content {

}

awesome-sidebar.showSidebar {
  width:30em;
  transition: width 1s;
}
/*******************************\
Small desktop windows and mobile
\*******************************/
@media (max-width:800px), (max-height:700px){

}
