awesome-sidebar {
    position: fixed;
    top: 3.25em;
    right: -29.1em;
    background: rgba(0, 0, 0, 0.4);
    width: 30em;
    height: 100%;
    border-radius: 0 0 0.313em 0;
    box-shadow: 0 0 0.25em rgba(0,0,0,.3);
    transition: right 0.5s;
}

awesome-sidebar .sidebar-content {

}

awesome-sidebar.showSidebar {
  right:0;
  transition: right 0.5s;
}
/*******************************\
Small desktop windows and mobile
\*******************************/
@media (max-width:800px), (max-height:700px){

}
