awesome-screen-icon {
    cursor: pointer;
    text-align: center;
    width: 9em;
    display: inline-flex;
    margin: 2.5em;
}

awesome-screen-icon .contentWrapper{
    height: 8em;
    width: 8em;
    text-align: -webkit-center;
}

awesome-screen-icon .iconImageWrapper{
    height: 4em;
    width: 4em;
}

awesome-screen-icon .iconImageWrapper img{
    width: 100%;
    height: 100%;
}

awesome-screen-icon .iconTextWrapper{
    height: 50%;
}

/*******************************\
Small desktop windows and mobile
\*******************************/
@media (max-width:800px), (max-height:700px){

}
