awesome-dialog{
    display:block;
    position:absolute;
    width:30em;
    height:20em;
    top:calc(50% - 10em);
    left:calc(50% - 15em);
    border-radius:.5em;
    box-shadow:0 0 .5em rgba(0,0,0,.75);
    background:rgb(250,250,250);
    overflow:auto;
}

awesome-dialog .content{
    margin:.25em;
}

/*******************************\
Small desktop windows and mobile
\*******************************/
@media (max-width:800px), (max-height:700px){

}
