.awesome-expandable-dialog{
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    border: 0em solid rgba(0,0,0,.2);
    border-width: 0em;
    transition: width 300ms,
        height 300ms,
        top 300ms,
        left 300ms;
        border-width:3000ms;
}

.awesome-expandable-dialog.fullScreenView {
    height: calc(100% - 6em);
    width: calc(100% - 6em);
    top: 0;
    left: 0;
    border-width: 3em;
}

.awesome-expandable-dialog.fullScreenView .content{
    margin:1em;
}

/*******************************\
Small desktop windows and mobile
\*******************************/
@media (max-width:800px), (max-height:700px){
    .awesome-expandable-dialog.fullScreenView {
        width: 100%;
        top: 0;
        left: 0;
    }
}
