.awesome-range{
    display:block;
}

.awesome-range input{
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    outline: none;
    background:transparent;
}

.awesome-range input:disabled{
    box-shadow: none;
}

/******************\
    TRACK
\******************/

.awesome-range input::-webkit-slider-runnable-track {
    width: calc(100% - .8em);
    height: 2.6em;
    cursor: pointer;
    box-shadow: inset 0 0 1em rgba(0,0,0,.5);
    background: rgb(80,80,80);
    border:0;
    border-radius:.5em;
    padding:0 .4em;
}

.awesome-range input:disabled::-webkit-slider-runnable-track{
    background: rgb(220, 220, 220);
}

.awesome-range input::-moz-range-track{
    width: calc(100% - .8em);
    height: 2.6em;
    cursor: pointer;
    box-shadow: inset 0 0 1em rgba(0,0,0,.5);
    background: rgb(80,80,80);
    border:0;
    border-radius:.5em;
    padding:0 .4em;
}

.awesome-range input:disabled::-moz-range-track{
    background: rgb(220, 220, 220);
}

.awesome-range input::-ms-track{
    width: calc(100% - .8em);
   height: 2.6em;
   cursor: pointer;
   background: transparent;
   border-color: transparent;
   border-width: 0;
   color: transparent;
   border:0;
   border-radius:.5em;
}

.awesome-range input:disabled::-ms-track{
    background: rgb(220, 220, 220);
}

/******************\
    THUMB
\******************/

.awesome-range input::-webkit-slider-thumb {
    box-shadow: 0 0 .3em rgba(0,0,0,.7), inset 0 0 .4em rgba(0,0,0,.7);
    border:0;
    height: 2em;
    width: 2em;
    border-radius:.5em;
    background: rgb(200,200,200);
    cursor: pointer;
    -webkit-appearance: none;
    margin:.3em 0;
}

.awesome-range input:disabled::-webkit-slider-thumb{
    background: rgb(250, 250, 250);
}

.awesome-range input::-moz-range-thumb{
    box-shadow: 0 0 .3em rgba(0,0,0,.7), inset 0 0 .4em rgba(0,0,0,.7);
    border:0;
    height: 2em;
    width: 2em;
    border-radius:.5em;
    background: rgb(200,200,200);
    cursor: pointer;
    margin:.3em 0;
}

.awesome-range input:disabled::-moz-range-thumb{
    background: rgb(250, 250, 250);
}

.awesome-range input::-ms-thumb {
    box-shadow: 0 0 .3em rgba(0,0,0,.7), inset 0 0 .4em rgba(0,0,0,.7);
    border:0;
    height: 2em;
    width: 2em;
    border-radius:.5em;
    background: rgb(200,200,200);
    cursor: pointer;
    margin:.3em 0;
}

.awesome-range input:disabled::-ms-thumb{
    background: rgb(250, 250, 250);
}

/*******************************\
Small desktop windows and mobile
\*******************************/
@media (max-width:800px), (max-height:700px){

}
