awesome-dynamic-form{
    display: block;
    width: 35em;
    height: 35em;
    margin: 0 auto;
    top: 15em;
}

awesome-dynamic-form > *{
    height:2.5em;
    margin-top:1em;
}

/*******************************\
Small desktop windows and mobile
\*******************************/
@media (max-width:800px), (max-height:700px){

}
