.awesome-options-dropdown {
    display:block;
    height:2em;
}

.awesome-options-dropdown label{
    padding: 0 1.25em 0 1.25em;
    font-size: 1.25em;
}

.awesome-options-dropdown select {
    padding: .5em;
    border-radius: .3em;
    border: none;
    box-shadow: inset 0 0 .1em rgba(0,0,0,.2);
    font-size: 1.2em;
    background: rgb(255,255,255);
    cursor: pointer;
}

/*******************************\
Small desktop windows and mobile
\*******************************/
@media (max-width:800px), (max-height:700px){

}
