.awesome-options-dropdown {
    display:block;
    height:2em;
}

.awesome-options-dropdown label{
    padding: 0 1.25em 0 1.25em;
    font-size: 1.25em;
}

/*******************************\
Small desktop windows and mobile
\*******************************/
@media (max-width:800px), (max-height:700px){

}
