.awesome-list{
    display:block;
    height: 100%;
    margin:0;
    padding:0;
    overflow: hidden;
    border-radius: .4em;
    background:rgb(230,230,230);
    box-shadow: inset 0 0 .2em rgba(0, 0, 0,.5);
}

.awesome-list > ul{
    height:100%;
    margin:0;
    padding:0;
    overflow: auto;
}

.awesome-list li{
    list-style: none;
    background-color:rgba(255,255,255,.1);
    box-shadow: inset 0 0 .4em rgba(0, 0, 0,.4);
    padding:1em;
    transition:background-color 300ms, box-shadow 300ms;
}

.awesome-list li:hover{
    background-color:rgba(255,255,255,.5);
    box-shadow: 0 0 0em rgba(0, 0, 0, 0);
}

/*******************************\
Small desktop windows and mobile
\*******************************/
@media (max-width:800px), (max-height:700px){

}
