awesome-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    display:block;
    padding:.5em 0;
    background:rgb(230,230,230);
    z-index: 19900;
}

awesome-footer footer{
    font-size: 1.5em;
    margin:0 .5em;
    min-height:1.5em;
}
/*******************************\
Small desktop windows and mobile
\*******************************/
@media (max-width:800px), (max-height:700px){

}
