awesome-file{
    display: block;
    width: 34%;
    overflow-wrap: break-word;
}

/*******************************\
Small desktop windows and mobile
\*******************************/
@media (max-width:800px), (max-height:700px){

}
