awesome-notification-modal awesome-modal div .contentWrapper{
    overflow: auto;
    height: 15em;
}

awesome-notification-modal awesome-modal > div > .closeButton{
    margin-bottom: 1em;
    width: 5em;
}
