
.awesome-error-modal h1 span.flaticon-signs:before{
    margin-left:0;
}

.awesome-error-modal div .contentWrapper{
    overflow: auto;
    height: 15em;
}

.awesome-error-modal > div > .closeButton{
    width: 5em;
    margin-bottom: 1em;
}
