
awesome-error-modal awesome-modal div.flaticon-signs:before{
    font-size: 4em;
    line-height: 2em;
    margin: 0;
}

awesome-error-modal awesome-modal div .contentWrapper{
    background-color: red;
    overflow: auto;
    height: 6em;
}

awesome-error-modal awesome-modal > div button{
    margin-top:1em;
}
