.awesome-number-control{
    height: 8em;
    width: 8em;
    pointer-events: none;
}

.awesome-number-control .ballValue{
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: all;
}

.awesome-number-control .controlFront{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: .15em solid rgb(185, 185, 185);
    position: absolute;
    background: rgb(220, 220, 220);
    top: calc(0% - 0.15em);
    left: calc(0% - 0.15em);
    z-index: 1;
    pointer-events: none;
}

.awesome-number-control section{
    position: absolute;
    height: 4em;
    width: 14em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    top: calc(50% - 2em);
    left: calc(50% - 7em);
    z-index: 0;
    pointer-events: none;
}

.awesome-number-control section button{
    width: 3em;
    pointer-events: all;
}

.awesome-number-control input{
    position: absolute;
    width: 6em;
    height: 2em;
    top: calc(50% - 1em);
    left: calc(50% - 1.85em);
    pointer-events: all;
    text-align: center;
    font-size: 1.85em;
    z-index: -1;
}
