awesome-youtube{
    display:block;
    height: 18em; /* 16:9 apect ratio */
    width: 32em;
}

awesome-youtube iframe{
    height: 100%;
    width: 100%;
}

/*******************************\
Small desktop windows and mobile
\*******************************/
@media (max-width:800px), (max-height:700px){

}
